@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

body {
    @apply bg-white dark:bg-black;
}

@theme {
    --color-primary: #5044e5;
}

.container {
    @apply container mx-auto px-4 sm:px-12 lg:px-24 xl:px-40 py-4
}